body {
    color: black;
    background-color: rgb(149, 189, 226);
    padding: 0.5vw;
}

p,
h1,
h2,
h3,
li,
nav, 
footer {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 2vw;
   
    
}
iframe {
    margin: 0 auto;
    display: block;
    width: 100%;
}
     
h1{
    font-size: 3vw;
    padding: 8px 15px;
   
}
h2{
    font-size: 2vw;
}
h3, li{
    font-size: 1.5vw;
    }


#menu {
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    list-style: none;
    font-size: 20px;
    padding: 20px; 
text-decoration:underline;
overflow: hidden;
}

  
  
  
  #menu li a {
    display: block;
    padding: 8px 15px;
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    color: #069;
  
    
  }
  
  #menu li a:hover {
   color: #eee;
  }

.footer {   

    padding: 0.5vw;

    font-size: 2vw;
    text-align: center;   
   
    padding: 20px;
}
img {
    max-width: 100%;
    height: auto;
    display: table;
    margin: 0 auto;
    vertical-align:middle;
}
  div {
    width: 100%;
    height: auto;
    min-height: 100%;
    overflow: hidden;
    text-align: float;
  }
  
 
  .responsive {
    width: 100%;
    max-width: 400px;
    height: auto;
  }
  img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }
  
